<div class="section widget-top-container">
  <div class="container widget-body-container">
    <div class="widget-header">
      <h3 class="title">Request an Appointment</h3>
    </div>
    <div class="columns">
      <div class="column is-one-quarter step-column">
        <WidgetSteps />
      </div>

      <div class="column is-three-quarters detail-column service-column">
        {{outlet}}
      </div>

    </div>
  </div>
</div>

