<section class="hero is-danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Error 
      </h1>
      <h2 class="subtitle">
        We're sorry but there was an error loading this widget.
      </h2>
    </div>
  </div>
</section>
